body {
  text-align: center;
  margin: 10px;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Style du conteneur global */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Style de la carte Pokémon */
.card {
  background-color: #f0f0f0;
  border: 10px solid #ffe165;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
}

.card:hover {
  transform: scale(1.05);
}

/* Image du Pokémon */
.card img {
  image-rendering: pixelated;
  width: 250px;
  height: 180px;
  border: 10px solid #dbdcde;
  object-fit: contain;
  /* background-image: url('https://i.pinimg.com/736x/52/9d/2b/529d2b151c33ba79a4008b6da88fdf85.jpg'); */
  /* background-image: url('https://pics.craiyon.com/2024-03-06/u_5Jj5xSSuqs0IljuTQdhA.webp'); */
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTewZm9yYtmuQoTE8eoYNJbmcgPgC7sRf8yzw&s');
  background-size: cover;
}

/* Nom du Pokémon */
.card h2 {
  font-size: 1.5em;
  color: #333;
  margin: 10px 0;
}

.card .pokemon-specify{
  display: flex;
  background-color: #dbdcde;
  margin-top: -10px;
  margin-bottom: 10px;
  justify-content: center;
  gap: 15px;
}


/* Détails du Pokémon */
.card p {
  font-size: 1em;
  color: #555;
  margin: 5px 0;
}

/* Type de Pokémon */
.card .types {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card .types span {
  background-color: #f0c674;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* Style pour les faiblesses */
.card .weaknesses {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.card .weaknesses h3 {
  font-size: 1.2em;
  color: #333;
}

.card .weaknesses ul {
  list-style-type: none;
  padding: 0;
}

.card .weaknesses li {
  background-color: #ffcccb;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
  color: #d80000;
  font-weight: bold;
}
